<% unless @chatrooms.nil? %>

  <div id="chat-index" class="container yellow-scrollbar mt-5">

    <div class="d-flex justify-content-center text-header-3 mt-3">
      <i class="far fa-comments mr-3"></i>
      <h3>Conversas (<%= @chatrooms.count %>)</h3>
    </div>

    <hr class="hr-vol">

    <% ordered_by_creation(@chatrooms).each do |chatroom| %>

      <div class="m-5 rounded hoverable">
        <div class="d-inline-flex">
          <%= link_to chatroom_path(chatroom),
              remote: true,
              method: :delete,
              data: { confirm: "Pretendes eliminar esta conversa?" } do %>
            <i class="fas fa-times text-white hoverable mr-3"></i>
          <% end %>
          <% if chatroom.user.photo.attached? %>
            <%= cl_image_tag chatroom.user.photo.key, width: 60, height: 37, crop: :thumb, gravity: :face, class: "avatar rounded-circle mr-3 justify-self-start" %>
          <% else %>
            <%= image_tag "https://eu.ui-avatars.com/api/?name=#{chatroom.user.full_name.gsub(" ", "+")}", class: "avatar rounded-circle mr-3 justify-self-start" %>
          <% end %>
          <h5> <%= link_to chatroom.name, chatroom_path(chatroom) %></h5>
        </div>
        <% unless chatroom.messages.blank? %>
          <p class="text-truncate text-white-50" id="last-message" ><%= time_ago_in_words(chatroom.messages.first.created_at) %> - <strong><%= chatroom.messages.last.user.first_name %></strong>: <%= chatroom.messages.last.content %></p>
        <% end %>
      </div>

    <% end %>

  </div>

<% end %>
