<div class="card hoverable">
  <%= link_to request_path(request), class: 'nounderline' do %>
    <%= image_tag "https://source.unsplash.com/random", class: "card-img-top"  %>
    <div class="card-block text-center">
      <div class="d-flex justify-content-between mt-1">
        <p class="badge badge-light"><%= request.category %></p>
        <p style="font-size: 14px;" class="text-muted"><%= time_ago_in_words(request.created_at, format: :short) %></p>
      </div>
      <h6 class="card-title"><strong><%= request.title %></strong></h6>
      <div class="d-inline-flex">
        <p class="fas fa-map-marker-alt mr-1"></p>
        <p class="text-dark"><%= request.city %></p>
      </div>
    </div>
  <% end %>
</div>
