<div class="card mt-5" style='background: linear-gradient(180deg, rgba(246,185,59,1) 12%, rgba(228,182,88,1) 96%); '>
  <div class="card-body text-center">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: 'avatar-xl rounded-circle hoverable my-2' %>
    <% else %>
      <img class="avatar-xl rounded-circle my-2" src="https://eu.ui-avatars.com/api/?name=<%= user.full_name.gsub(" ", "+") %>}" alt="Bologna">
    <% end %>
    <h2 class="card-title mt-3"><%= user.full_name %></h2>
    <div class="d-inline-flex mb-1 mt-3">
      <h6 style="color: #8B5D5D" class="fas fa-map-marker-alt mr-1"></h6>
      <h6 class="card-subtitle text-secondary"><%= user.city %></h6>
    </div>
    <p class="card-text text-body my-5"><%= user.about_me %></p>
    <% unless user.reviews.blank? %>
      <%= render "shared/reviews_modal" %>
    <% end %>
    <% if current_user.favorited?(user, scope: :follow) %>
      <%= link_to 'A seguir', user_follow_path(user), class: "btn btn-warning mt-3"  %>
    <% elsif user != current_user %>
      <%= link_to 'Seguir', user_follow_path(user), class: "btn btn-info mt-3" %>
    <% end %>
    <hr style="border: 1px solid #341D48;">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-4">
        <%= render 'shared/following' %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-4">
        <%= render 'shared/followers' %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div onClick="document.getElementById('this_users_requests').scrollIntoView({ behaviour: 'smooth' });">
          <h1 id="userRequests"><%= @user.requests.count %></h1>
          <span id="settingsUserRequests">Pedidos</span>
        </div>
      </div>
    </div>
  </div>
</div>
