<div class="container my-5">

  <div class="row">
    <div class="col-sm-5 col-md-6 col-lg-3 mt-3">
      <%= render 'requests/categories'%>
    </div>
    <div class="col-sm-5 col-md-6 col-lg-9 mt-3" id="map-header">
      <h1 class="text-header-3">Mapa</h1>
      <hr class="hr-vol">
      <%= render 'shared/map' %>
    </div>
  </div>

  <% if @requests_near.count >= 1 %>

    <h1 class="text-header-2">Em <%= current_user.city %>:</h1>
    <hr class="hr-vol">

    <div class="cards my-5">
      <% ordered_by_creation(@requests_near).each do |request| %>
        <%= render 'shared/request_card', request: request %>
      <% end %>
    </div>
  <% end %>

  <h1 class="text-header-2">Mais recentes:</h1>
  <hr class="hr-vol">

  <div class="cards my-5">
    <% ordered_by_creation(@requests).each do |request| %>
      <%= render 'shared/request_card', request: request %>
    <% end %>
  </div>

</div>
