<div class="container">
  <h1>Novo Pedido de Ajuda</h1>
  <%= simple_form_for @request do |f| %>
    <%= f.input :category, label: false, prompt: 'Categoria', placeholder: 'Categoria', collection: ["Compras", "Reparações", "Recados", "Saúde", "Cuidados", "Donativos", "Companhia", "Associação", "Outro"] %>
    <%= f.input :title, label: false, placeholder: 'Título' %>
    <%= f.input :description, label: false, placeholder: 'Descrição' %>
    <%= f.input :person_name, label: false, placeholder: 'Nome' %>
    <%= f.input :age, label: false, placeholder: 'Idade' %>
    <%= f.input :address, label: false, placeholder: 'Morada' %>
    <%= f.input :zip_code, label: false, placeholder: 'Código Postal' %>
    <%= f.input :city, label: false, placeholder: 'Cidade' %>
    <%= f.input :phone_number, label: false, placeholder: 'Contacto Telefónico', input_html: { maxlength: 9 } %>
    <%= f.button :submit, class: 'btn-vol' %>
  <% end %>
</div>
