<div class="container-lg">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <%= render 'requests/photos_carousel' %>
      <div class="d-inline-flex justify-content-between" id="bookmark">
        <h1 class="mr-3"><strong><%= @request.title %></strong></h1>
        <%= link_to request_favorite_path(@request) do %>
          <% if @request.favorited_by?(current_user) %>
            <i class="fas fa-bookmark text-light" style="font-size: 18px;"></i>
          <% else %>
            <i class="far fa-bookmark text-white" style="font-size: 18px;"></i>
          <% end %>
        <% end %>
      </div>
      <h5><%= @request.description %></h5>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-4">
      <%= render 'shared/profile_card', user: @request.user %>
      <%= link_to 'Quero ajudar', assignments_path(request: @request.id), method: :post, class: 'btn btn-block btn-vol' %>
      <%= render 'shared/map' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <% if @request.user == current_user || @request.volunteer.assignments.where(asker: current_user).present? %>
        <%= render 'chatrooms/show' %>
      <% end %>
    </div>
  </div>
</div>



