<% if @requests.empty? %>
  <div class="container-fluid">
    <h1 class="text-center text-white" style=" padding-top: 80px; margin-top: 180px; font-size: 100px;">Vazio</h1>
    <h2 class="text-center text-muted">Aqui poderás ver os teus pedidos</h2>
    <div class="text-center m-5">
      <button type="button" class="btn-vol" data-toggle="modal" data-target="#createModal">Cria o teu primeiro Pedido</button>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-white" id="createModalLabel"><strong>Novo Pedido</strong></h4>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'shared/request_form', request: @new_request %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="cards my-3">
    <% @requests.each do |request| %>
    <div class="card" >
      <%= link_to request_path(request), class: 'nounderline' do %>
      <%= image_tag "https://source.unsplash.com/random", class: "card-img-top"  %>
      <div class="card-block text-center">
        <h4 class="card-title nounderline"><strong><%= request.title %></strong></h4>
        <p class="card-text nounderline mb-4"><%= request.description %></p>
        <%= link_to 'Eliminar', request_path(request), method: :delete, data: {confirm:'Confirmar eliminação?'}, class: 'btn-vol' %>

        <button type="button" class="btn-vol" data-toggle="modal" data-target="#editModal-<%= request.id %>">Editar</button>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="editModal-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-white" id="exampleModalLabel"><%= request.title %></h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'shared/request_form', request: request %>
              </div>
            </div>
          </div>
        </div>
        <div class="w-75 mx-auto bg-white mt-3">
          <%= render 'volunteers/volunteer_form', request: request %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
<% end %>
