<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 mx-auto">
      <div class="form-login">
        <h2>Iniciar Sessão</h2>
        <hr class="hr-form">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        label: "E-mail",
                        placeholder: "endereço de e-mail" %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" },
                        label: "Palavra-passe",
                        placeholder: "••••••" %>
            <%= f.input :remember_me, as: :boolean, label: "Lembrar-me" if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Iniciar Sessão", class: "btn btn-vol" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
