<% @user.reviews.each do |review| %>
  <div class="card-review my-2">
    <% if review.request.user.photo.attached? %>
      <%= cl_image_tag review.request.user.photo.key, width: 100, height: 100, crop: :thumb, gravity: :face, class: "avatar" %>
    <% else %>
      <%= image_tag "https://eu.ui-avatars.com/api/?name=#{review.request.user.full_name.gsub(" ", "+")}", class: "m-1" %>
    <% end %>
    <div class="card-review-infos">
      <% review.rating.to_i.times do %>
        <span class="fa fa-star checked text-warning"></span>
      <% end %>
      <h5 class="mt-3"><%= review.request.title %></h5>
      <p>"<%= review.content %>"</p>
      <p>- <%= link_to review.request.user.full_name, user_path(review.request.user), class: "text-decoration-none text-dark hoverable" %></p>
    </div>
  </div>
<% end %>


